
<h2>List of restaurants</h2>

<%= link_to 'Add new restaurant', new_restaurant_path, class: 'btn btn-primary float-right' %>

<ul>
<% @restaurants.each do |restaurant, id| %>
  <li>
    <%= restaurant[:name] %> (<%= restaurant[:category] %>)
    <small>
      <%= link_to 'Show details', restaurant_path(restaurant.id) %>
    </small>
  </li>
<% end %>
</ul>
